@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_fonts";
@import "_variables";
@import "_global";
@import "_mixins";

// treanding-product
.treanding-product {
  aspect-ratio: 7/8;
  &-details {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
// suggestion
.suggestion-product {
  &-image {
    aspect-ratio: 13/16;
    width: 48%;
  }
}
